/* Import 'Source Sans Pro' & 'Poppins' fonts from Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Source+Sans+Pro&display=swap");

/* tailwind Base classes */
@tailwind base;
@tailwind components;
@tailwind utilities;

.fontSource {
  font-family: "Source Sans Pro", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(30, 42, 93, 0.04) 30.91%,
    rgba(48, 62, 130, 0.04) 64.79%,
    rgba(60, 80, 157, 0.04) 91.94%
  );
}
